body {
  margin: 150px;
}

.container {
  display: flex;
  flex-direction: row;
  background-color: #ddede8;
}

.form-container {
  flex: 1;
  margin: 25px;
}

.input-group {
  margin-top: 15px;
}

.input-group input {
  width: 80%;
}

.form-label {
  display: block;
}

.button-group {
  margin-top: 15px;
}

.button-group button {
  margin-left: 5px;
}

.list-container {
  flex: 1;
  margin: 25px;
}

.list-container ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.list-container li {
  padding-bottom: 5px;
  border-bottom: 1px solid #d1cfcf;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }
}
